div.piemenu {
 visibility:hidden;
}

#pietooltip { 
 font-size: small;
 width:100px;
 height:15px;
 background-color:#99ccff;
 text-align:center;
 visibility:hidden;
 position:absolute;
}

#pieicons { 
 visibility:hidden;
}

img.pieicon { 
 margin:0px;
 padding:0px;
 border:0px;
 position:absolute;
}

/* An absolute positioned mouse target */
#pietarget_abs {
 position:absolute;
 left:400px;
 top:600px
}

div.floatleft img {
    float:left;
}

div.floatright img {
    float:right;
}

div.clear {
    clear:both;
    margin:3px;
}

div.pietarget {
    cursor: pointer;
    text-align: center;
    
}

div.pietarget span {
    background: lightgrey;
}

body {
    margin:0px;
    padding:0px;
    border:0px;
    text-align: center;
}

div.content {
    padding: 5px;
    text-align: left;
}

div.preamble {
    background: #ccccff;
    width: 50%;
    min-width: 350px;
    margin: 0 auto;
    text-align: left;
    padding: 6px;
    border-radius: 10px;
    border: 3px solid black;
}